:root {
    /* original colors */
    --color1: #5a6973;
    --color2: #e0f3f2;
    --color3: #B8DBD9;
    --color4: #6c848c;
    --color5: #2F4550;
    --color6: #D3E3EF;
    --color7: #4d6a79;
    --color8: #acebee;

    --error: #ff0000;
}
