.navbar {
    transition-property: padding;
    background: #2F4550;
    padding-top: 60px;
    padding-left: 8%;
    padding-right: 8%;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #B8DBD9;
    font-size: 20px;
}

/* footer stuff */
footer {
    background: #2F4550;
    width: 100vw;
    color: #B8DBD9;
}

.footer-content {
    text-align: center;
    margin: auto;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #B8DBD9;
}

.footer-bottom {
    background: #2F4550;
    text-align: center;
    padding-bottom: 20px;
}

.footer-bottom p {
    font-size: 14px;
}
