nav {
    transition-property: padding;
    position: sticky;
    bottom: 100%;
    background: #2F4550;
    padding-top: 60px;
    padding-left: 8%;
    padding-right: 8%;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.navbar {
    text-align: right;
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #B8DBD9;
    font-size: 20px;
}

nav ul li a:hover {
    transition: 0.2s;
    color: aliceblue;
}

nav ul li::after { 
    content: '';
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.3s;
}

nav ul li:hover::after {
    width: 103%;
}

/* footer stuff */
footer {
    background: #2F4550;
    /* this keeps the footer at the bottom of the page */
    position: sticky;
    top: 100%;
    
    width: 100vw;
    color: #B8DBD9;
    padding-top: 10px;
}

.footer-content {
    text-align: center;
    margin: auto;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

footer ul li a {
    text-decoration: none;
    color: #B8DBD9;
}

.footer-bottom {
    background: #2F4550;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-bottom p {
    font-size: 14px;
}
