* {
    margin: 0;
    padding: 0;
    transition-duration: 0.8s;
    font-family: 'Roboto';
}

#center {
    text-align: center;
}

/* Background website */
body {
    background-color: var(--color7);
    /* -webkit-transition: .5s;
    transition: .5s; */
}

div {
    text-align: center;
}

p {
    padding: 5px;
}

.titlerow {
    height: 5vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    border-radius: 25px 25px 0 0;
}

.title {
    transition-duration: 0.2s;
    color: var(--color3);
    font-size: 75px;
    font-family: sans-serif;
}

.border {
    margin: auto;
    border: 2px solid;
    border-color: var(--color3);
    border-radius: 10px;
    width : 60%;
    background-color: var(--color7);
    /* padding-left: 25%;
    padding-right: 25%; */
    padding-bottom: 18px;
    margin-top: 4%;
    margin-bottom: 4%;
}

select {
    text-align: center;
    background-color: #B8DBD9;
    border-style: solid;
    border-radius: 5px;
}

/* Drop down regions */
.dropdown {
    margin: auto;
    width: 200px;
    position: flex;
}

/* The selected region. */
.region {
    background: #B8DBD9;
    border-radius: 5px;
    padding: 3px;
}

/* Search bar. */
#search-input {
    position: flex;
    opacity: 0;
    width: 185px;
    transition: 0.2s;
}

.show #search-input {
    opacity: 1;
    margin: auto;
    border-radius: 5px 5px 0 0;
    border-color: var(--color3);
    padding: 2px;
}

::placeholder {
    color: var(--color5);
}

/* Drop down select, invisible and shown. */
.all-options {
    width: 100%;
    max-height: 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.show .all-options {
    background: var(--color5);
    color: var(--color3);
    width: 100%;
    max-height: 210px;
    opacity: 1;
    overflow-y: scroll;
}

/* The selected region. */
.region {
    background: var(--color5);
    color: var(--color3);
    border-radius: 5px;
    padding: 3px;
}

.dropdown .option .label {
    cursor: pointer;
}

.dropdown .option:hover {
    background-color: var(--color3);
}

.dropdown .option:hover label {
    color: var(--color5) !important;
}

.view {
    border: 3px solid;
    border-color: #2F4550;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s;
}

.show .view {
    opacity: 1;
}

/* Remove visibility checkpoint. */
.input_php {
    display: none;
}

/* All buttons */
.buttons {
    padding: 8px;
    border-radius: 25px;
    border: 1px;
    background-color: var(--color5);
    color: var(--color3);
    opacity: 1;
    margin-top: 3%;
}

.buttons:hover {
    background-color: var(--color3);
    color: var(--color5);
}

.view {
    border: 3px solid;
    border-color: var(--color5);
    border-radius: 5px;
    opacity: 0;
}

.userbutton {
    width: 35%;
}

.passbutton {
    width: 35%;
}

.email-confirmation {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: rgba(14, 222, 87, 0.369);
    display: none;
    border-radius: 5px;
    color: darkgreen;
}

.confirmation-message {
    text-align: center;
    margin-top: auto;
    display: block;
}

.error-message {
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 45%;
    background-color: rgba(133, 8, 8, 0.548);
}

/* Columns for input forms. */
.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.one {
    display: none;
    flex-direction: column;
}
.two {
    display: none;
    flex-direction: column;
}

.column {
    padding: 3px;
    text-align: left;
    /* opacity: 0; */
}

.left {
    width: 14%;
}

.right {
    width: 14%;
}

/* Inputs shown on click. */
.text {
    padding: 5px 0 !important;
    width: fit-content !important;
}

.settings_text {
    color: var(--color3) !important;
}

/* Hidden and shown submit buttons. */
.hidden_pass {
    margin: 2vw 1vw 2vw 1vw;
}

.hidden_user {
    margin: 2vw 1vw 2vw 1vw;
}

.user_appear .hidden_user {
    opacity: 1;
}

.pass_appear .hidden_pass {
    opacity: 1;
}

.changepassword {
    display: flex;
}

.help {
    min-height: 5vh;
    display: flex;
    flex-direction: column;
}
.container-buttons {
    display: flex;
    justify-content: center;
}

.reg-header {
    margin-bottom: 4% !important;
}

#APIkey {
    display: none;
}
