@import "colors.css";

.tabrow {
    margin-top: -6.7vh;
    position: absolute;
    background: transparent;
    display: flex;
    width: 100vw;
    height: 13.5vh;
    align-items: center;
    justify-content: center;
    transition-duration: 1.5s;
}

.cardcontainer {
    min-height: 64vh !important;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color5);
    border-style: outset;
    border-color: var(--color4);
    height: 8vh;
    border-radius: 40px;
}

.tab button {
    background-color: var(--color1);
    border: none;
    border-radius: 25px;
    color: var(--color2);
    padding: 1.6vh 1.7vw;
    text-align: center;
    display: inline-block;
    font-size: calc(1em + .1vmin);
    margin: 1em 1em;
    cursor: pointer;
}

.tab button:hover {
    background-color: var(--color3);
    color: var(--color5) !important;
}

.tab button.active {
    background-color: var(--color3);
    color: var(--color5) !important;
}

.tabcontent{
    padding: 6px 12px;
}

/* Empty message */
.banner {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.banner img {
    padding: 20px;
    height: 30%;
    width: 30%;
}

h3 {
    font-size: calc(15px + 0.390625vw);
}